@media all and (max-width: 1024px) {
     header{
         display: none;
     }
    menu{
        display: none;
    }
    .header-mobile{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .header-mobile .burger{
        display: block;
        position: relative;
        margin: 10px 0 0 10px;
    }
    .header-mobile .burger .dot{
        background: #1faae2;
        width: 45px;
        height: 8px;
        margin: 4px 0;
    }
    .header-mobile .search{
        margin-right: 10px;
    }
    main{
        height: 600px;
        background-size: 100% 100%;
    }
    main .container .text-block img{
        display: none;
    }
    main .container .text-block h1{
        font-size: 48px;
    }
    main .container .text-block #h1-child{
        font-size: 35px;
        margin-left: 30px;
    }
    main .container .slider{
        display: none;
    }
    section .container{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    section .container .article-block{
        margin-top: 11px;
        margin-bottom: 181px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    section .container .article-block .article{
        width: 100%;
    }
    section .container .article-block .article p{
        width: unset;
    }
}
@media all and (max-width: 768px){
    .header-mobile .search input{
        width: 149px;
    }
    main .container .text-block{
        padding: 227px 0 0 120px;
    }
    section .container{
        max-width: 600px;
    }
}